footer {

    width: 100%;
    height: 150px;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    position: fixed;
    bottom: 0;
    display: flex;

    align-items: center;
    justify-content: space-between;

}


footer > * {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.fesquerda {
    justify-content: center;
}

footer a {
    text-decoration: none;
    color: rgb(0, 102, 255) ;
}
footer a:hover {
    text-decoration: underline;
}

.fdireita {
    display: flex;
    justify-content: space-around;
}

@media (max-width: 700px) {
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    footer > * {
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
    }
    footer a {
        font-size: 14px;
    }
}