.configs {
    width: 70%;
    background-color: #e7e7e7;
    display: flex;
    padding: 25px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    border: solid black 1px;
    border-radius: 10px;
    margin: 10px 0 10px 0;
}
.usuario {
    height: 350px;
}
.imagem {

    height: 250px;

}


@media screen and (max-width: 650px) {

    .configs {
        width: 100%;
    }
    .usuario {
        height: 450px;
    }

}